@{
    ViewBag.Title = "Apple Tarts";
}
@using Tarts.Content
@using Tarts.Web.Models.Payments
@model PaymentResultViewModel

<h1>Payment Result - @Model.Reference</h1>

@if (Model.Success)
{
    <h2>Thanks for buying a ticket</h2>
    <p>@Model.Message</p>
}
else
{
    <h2>Thank you</h2>
    <p>@Model.Message</p>
    @*<p>@Model.Details</p>*@
}
<div class="fb-like" data-href="http://www.appletartsfestival.co.uk" data-send="true" data-width="450" data-show-faces="true"></div>

