<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


    
    <connectionStrings>
      <add name="tartsdataconnection" 
        connectionString="server=mladmin.ukwsp.com;database=techfilc_tarts;user id=techfilc_tartssa;pwd=Tartsadmin1;pooling=false;" providerName="MySql.Data.MySqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <appSettings>
    <add key="tartsdb" value="`techfilc_tarts`" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
   
      <customErrors defaultRedirect="GenericError.htm" mode="Off" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
 
  </system.web>
</configuration>