<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bronson.DB" version="1.0.0.92" />
  <package id="Bronson.Utils" version="1.0.0.57" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="FluentNHibernate" version="1.2.0.712" />
  <package id="Iesi.Collections" version="3.1.0.4000" />
  <package id="NHibernate" version="3.1.0.4000" />
  <package id="NHibernate.Castle" version="3.1.0.4000" />
  <package id="NVelocity" version="1.0.3" />
  <package id="RazorEngine" version="2.1" />
  <package id="structuremap" version="2.6.3" />
</packages>