<div class="fb-like-box" data-href="http://www.facebook.com/pages/Apple-Tarts/126521124093589" data-width="280" data-height="280" data-show-faces="true" data-border-color="dddddd" data-stream="false" data-header="false"></div>
