@{
    ViewBag.Title = "Booking Complete";
}

<h2>Booking Complete</h2>

<div class="fb-like" data-href="http://www.appletartsfestival.co.uk" data-send="true" data-width="450" data-show-faces="true"></div>